/* Inicio da seção - Vinicius Silva Souza */

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    display: block;
    padding: 0px;
    margin: 0px;
}
/* titulo */
.title{
    text-align: center;
    font-size: 1.785rem;
    position: relative;
    bottom: 115px;
    /* margin-bottom: 2rem; */
}

.title strong{
   font-size: 2.5rem;
   color: rgb(229, 9, 20);
}
.container{   
    margin: 0 auto;
    width: 100%;  /*essa largura é definida com base ao tamnho do munitor q é 1600px */
    height: 500px;
    /* overflow: hidden; */
    /* position: relative; */
}

/* slides container */
.slides{
    width: 400%; /*Largura definida com base na quantidade de img */
    height: 750px;
    display: flex;
    position: relative;
}
.slides input{
    display: none;
}
/* Fim slides container */

/* slide */
.slide{
    width: 25%;
    height: 100%;
    position: relative;

}
.descricao-container{
    position: absolute;
    width: 40%;
    height: 70%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 30px 20px 20px 15px;
    gap: 1rem;
}
.slide .descricao{
    display: flex;
    flex-direction: column;
}
.itens{
    display: flex;
    gap: 10px;
    margin-bottom: -10px;
}
.dreams{
    margin-top: 10px;
    width: 173px;
    height: 37px;
    position: relative;
}
.slide .descricao h3{
    font-size: 2rem;
    line-height: 1.225;
    letter-spacing: 0px;
    font-weight: 800;
}
.slide .descricao span{
    color: rgb(229, 9, 20);
}
.slide .descricao p{
    line-height: 1.225;
    letter-spacing: 0.5px;
    font-size: 0.985rem;
    color: #000;
    font-weight: 400;
}
.slide img{
    box-sizing: border-box;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute; */
}
.img{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;

    background: none;
    border: 0px;
    margin: 0px;
    padding-bottom: 0px;
    position: absolute;
    z-index: -1;
}
.showImg{
    display: none !important;
}

/* botão saiba mais */
.btn{
    background: rgb(229, 9, 20);
    width: 150px;
    height: 13px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    border-radius: 10px 0px 10px 0px;
    color: #fff;
    font-weight: 700;
}
.btn svg:hover{
    padding: 20px;
}
/* Fim slide */

/* setas para mudar o slide */
.setas{
    position: absolute;
    width: 99%;
    display: flex;
    justify-content: space-between;
    top: 250px;
    /* align-content: end; */
    padding: 10px;
    /* z-index: 1; */
}
.setas .esquerda{
    /* position: absolute; */
    /* top: 260px; */
    width: 30px;
    height: 30px;
    color: rgb(204, 204, 204);
    border: none;
    background: none;
    cursor: pointer;
    
}
.setas .direita{
    /* position: absolute; */
    /* top: 260px; */
    width: 30px;
    height: 30px;
    color: rgb(204, 204, 204);
    border: none;
    background: none;
    cursor: pointer;
}
/* Fim setas para mudar o slide */

/* navgation */
.manual-navigation{
    position: absolute;
    /* min-width: 700px; */
    width: 100%;
    top: 670px;
    display: flex;
    justify-content: center;
    left: 21px;
    z-index: 10;
}

.manual-btn{
    /* position: absolute; */
    /* left: 1110px; */
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){ /* estilo aplicado em todos os label menos no ultimo*/
    margin-right: 10px;
}
.manual-btn:hover{
    background: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
 .navigation-auto{
    position: absolute;
    width: 100%;
    top: 670px; 
    display: flex;
    justify-content: center;
    left: 20px;
    z-index: 10;
 }
.navigation-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

/* Respondividade */

@media (max-width: 860px){
    body{
        height: 0px;
    }
    .title{
        margin-left: 200px;
        
        
    }
    .title h2{
        position: absolute;
        top: 10px;
        font-size: 2.1rem;
        margin-bottom: 50px;
    }
    .title strong{
        font-size: 2.1rem;
    }
    /* slides */
    .slides{
        position: absolute;
        width: 400%;
        top: 200px;
        /* height: 600px; */
    }
    .slide{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .img{
        grid-row: 2;
        position: absolute;
        /* height: 100vh; */
        z-index: 5;
    }
    .descricao-container{
        display: flex;
        top: -230px;
        width: 90%;
    }
    .descricao-container .descricao h3{
        font-size: 1.8rem;
    }
    #image{
        display: none;
    }
    .showImg{
        display: block !important;
    }
    /* Fim slides */
    .setas{
        top: 560px;
        z-index: 6;
    }
    .manual-navigation{
        position: absolute;
        width: 100%;
        top: 850px;
        left: 50px;
        z-index: 100;
    }
    .navigation-auto{
        position: absolute;
        width: 100%;
        top: 850px;
        left: 50px;
        z-index: 100;
    }
}
@media (max-width: 734px) {
    body{
        overflow-x: hidden;
    }
    .title{
        margin-left: 100px;
    }
    .slides{
        margin-top: 60px;
    }
}
@media (max-width: 560px){
    .title h2{
        font-size: 1.8rem;
    }
    .title h2 strong{
        font-size: 1.8rem;
    }
    .slides{
        width: 400%;
    }
    .btn{
        font-size: 0.895rem;
        padding: 10px;
        width: 120px;
        height: 20px;
        z-index: 10;
    }
    .descricao-container .descricao h3{
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
    .descricao-container .descricao p{
        font-size: 0.885rem;
        margin-bottom: 5px;
    } 
    .manual-navigation{
        position: absolute;
        width: 100%;
        top: 850px;
        left: 30px;
        z-index: 10;
    }
    .navigation-auto{
        position: absolute;
        width: 100%;
        top: 850px;
        left: 30px;
        z-index: 10;
    }
}
@media (max-width: 512px){
    .title{
        margin-left: 25px;
    }
    /* .title h2{
        font-size: 1.7rem;
    }
    .title h2 strong{
        font-size: 1.7rem;
    } */
}
@media (max-width: 360px){
    /* html{
        height: 30px;
        
    } */
    .title{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 240px;
        margin-left: 10px;
    }
    .title h2{
        font-size: 1.4rem;
    }
    .title h2 strong{
        font-size: 1.4rem;
    }
    .slides{
        position: absolute;
        top: 50px;
    }
    .slide {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .slide img{
        height: 100%;
    }
    .descricao-container{
        grid-row: 2;
        margin-top: -105px;
    }
    .descricao-container .descricao{
        margin-left: -15px;
        width: 100%;
    }
    .manual-navigation{
        position: absolute;
        width: 100%;
        top: 670px;
        left: 30px;
        z-index: 10;
    }
    .navigation-auto{
        position: absolute;
        width: 100%;
        top: 670px;
        left: 30px;
        z-index: 10;
    }

}

/* Fim da seção - Vinicius Silva Souza */